
html
	head
		style
			include ../styles/login.css
		title eBookShop
body
	div#main
		div(class='split left')
			div(class='centered')
				div#header
					a(href="/") Login
					|
					|
					a(href='/user/register') Register
					|
					a(href='/about') About
				h1 About 
				div(class='about')
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris risus, vehicula ac odio vitae, lacinia porttitor purus. Ut vitae libero sit amet sem gravida congue at quis turpis. Proin dictum justo ligula, luctus mollis nibh venenatis sed. Nunc varius tempus nulla, sit amet rhoncus dui blandit ac. Morbi non consectetur ligula, non malesuada ligula. In vel urna ac dolor convallis porttitor. Suspendisse bibendum sed eros ut dignissim. Vestibulum a sem quis odio semper auctor non a leo. Fusce ullamcorper varius risus, sit amet maximus justo ultrices sed. Nam iaculis est sed erat lobortis, tristique blandit sapien hendrerit. Duis eu velit non tellus tempor efficitur. Donec sodales magna nec efficitur sodales. Sed lobortis accumsan quam, vestibulum pharetra mi facilisis a. Praesent eu faucibus tortor, sed sodales diam. Maecenas fermentum tempor justo, et semper ante pharetra laoreet. Nullam scelerisque mauris facilisis, dictum purus eu, bibendum felis.
		div(class='split right')
			img(src='https://i.pinimg.com/originals/82/d6/1d/82d61d0f74c208f73cdab39d6be407af.jpg' alt='img')