
html
head
	style 
		include ../styles/dashboard.css
	title View Cart
	include ../public/partials/loggedinHeader
div#main
	h1 Cart
	br
	if items.length== 0
			p No products in cart
	else 
		each item in items
			img(src=item.imgPath alt='img' style='width:100px; height:100px;')
			p  #{item.title} 
			p QTY: #{item.quantity}
			form(method='POST' action='/products/'+item.id+'/remove')
				input(type='submit',name='submit',value='remove')
				br
		form(method='POST' action='/order/submit')
			p #{alert}
			input(type='submit', name='submit', value='Place Order')