html
	head
		style 
			include ../styles/dashboard.css
		title Store
		include ../public/partials/loggedinHeader
	div#main
		nav(class='product-filter')
			h1 Books 
			div(class='sort')
				div(class='collection-sort')
					label(for='filter') Filter by: 
				select 
					option(value='/') All Books
				div(class='collection-sort')
					label(for='sort') Sort by: 
				select 
					option(value='/') Featured
					br
		div(class='alert')
			br
			p #{query}
			br
	div(class='products')
		each product in products
			div(class='product-card')
				form(method='POST' action='/products/'+product._id+'/add')
					div(class='product-info')
						img(class='product-img' src=product.imgPath alt='img')
						br
						a(href='/products/'+product._id) #{product.title} 
						br 
						p $#{product.price}
						br
						button(type='submit', name='submit', value='submit') ADD TO CART