
html
head
	title View Orders
	include ../public/partials/header
div#main
	h1 Orders
	br
	a(href='/user/'+username+'/dashboard') Dashboard
	br
	if orders.length== 0
			p No orders placed.
	else 
		p #{orders.orders}
		each order in orders.orders
			p #{order.products}
			p Title: #{order.products.title}