#divheader
	a(href='/user/'+username+'/dashboard') Shop
	|
	|
	a(href='/order/cart') View Cart
	|
	|
	a(href='/order/viewOrders') View Orders
	|
	|
	form(method='POST' action='/user/logout')
		input(type='submit' name='submit' value='Logout')
		br
	form(method='POST' action='/products/product')
		br
		label(for ='Search') Search for a book
		br
		input(type = 'text', name = 'param')
		br
		input(type = 'submit', name='submit',value='Submit')
		br 