div#header
	div(class='top')
		h1 eBookShop 
		|
		|
		form(method='POST' action='/products/product')
			br
			input(type = 'text', name = 'param' placeholder='Search')
		div(class='nav-bar')
			a(href='/user/'+username+'/store') Shop
			|
			|
			a(href='/user/'+username+'/popular') Most Reviewed
			|
			|
			a(href='/user/'+username+'/best') Best Sellers
			|
			|	
			a(href='/user/'+username+'/cart') Cart (#{length})
			|
			|
			a(href='/user/'+username+'/orders') My Orders
			|
			|
			a(href='/user/'+username+'/profile') My Account
	div(class='logout')
		form(method='POST' action='/user/logout')
			button(type='submit', name='submit', value='submit') Logout