* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body, html {
	font-family: Helvetica, sans-serif;
}
.top {
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: lightblue;
    padding: 8px 15%;
}

.top h1 {
    color: white;
    font-size: 30px;
}
.top button {
    border: none;
    outline: 0;
    color: white;
    width: 60%;
    padding: 10px 20px;
    position: relative;
    background-color: lightblue;
    text-align: right;
    cursor: pointer;
    font-size: 18px;
    position: absolute; 
    top: 0; 
    right: 0; 
    text-align:right;
  }
  
.top button:hover {
    opacity: 1;
}
.top input {
    width: 60%;
    padding: 5px 20px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    

  }
.top a  {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 15px;
    display: inline-block;
    padding: 25px 20px;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

a:hover:after{
    width: 100%; 
    left: 0; 
}

.product-filter {
    padding-top: 20px;
    display: flex
}

.product-filter h1 {
    flex-grow: 1;
}

.sort {
    display: flex;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-wrap: wrap;
  }
  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
  
    display: flex; /* so child elements can use flexbox stuff too! */
  }

  .product-image img {
    max-width: 100%;
  }

  .product-info {
    margin-top: auto;
  }

