* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body, html {
	font-family: Helvetica, sans-serif;
}

.main p {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  flex-grow: 1;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10%;
  color: black;
}

.order-wrapper {
    margin: 0 auto;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    row-gap: 1em;
    column-gap: 10px;
    padding: 10px;
    padding-bottom: 40px;
    
  }
  .order-info {
    margin-top: 0 auto;
    text-align: center;
    max-width: 100%;
    height: auto;
    padding: 20px;
    color: black;
  }

  .order-info p{
    margin-top: 0 auto;
    text-align: center;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 13px;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
  }
  .product-card {
    display: grid;
    padding: 10px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    font-size: 15px;
    color: white;
    line-height: 1;
    border: 1px solid black; 
    text-align: center;
  }

  
  .product-info img{
    max-width: 100%;
    height: auto;
    padding: 20px;
  }
  
  
  .product-info a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 13px;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
  }
  
  .product-info p{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 13px;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
  }
  
  .product-info a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .product-info a:hover:after{
    width: 100%; 
    left: 0; 
  }
  
  .product-card button{
    background-color: transparent;
    overflow: hidden;
    box-shadow: none;
    border: 1px solid black; 
    outline: 0;
    margin: auto;
    color: black;
    width: 100px;
    padding: 10px 10px;
    position: relative;
    font-size: 10px;
    font-family: Helvetica;
  
  }
  
  .product-card button:hover::before {
    transform: scale(1.1);
    background-color: 0 0 15px lightblue;
    border: 1px solid lightblue; 
  }
  
  .product-card button:hover {
    color: lightblue;
    background-color: 0 0 5px lightblue;
    border: 1px solid lightblue; 
  }