* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body, html {
	font-family: Helvetica, sans-serif;
}

.wrapper {
display: grid;
height: 100%;
grid-template-columns: 1fr 1fr;
}

.product-card{ 
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.product-card p{ 
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 13px;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
}

.product-card img{
    max-width: 100%;
    height: auto;
    padding: 30px;
}

.product-desc h1{
  padding-left: 18px;
  text-align: left;
  font-size: 17px;
}
.product-desc p {
  text-align: left;
  padding: 20px;
  font-size: 13px;
}

.product-card button{
    background-color: transparent;
    border: none;
    overflow: hidden;
    box-shadow: none;
    border: 1px solid black; 
    outline: 0;
    margin: auto;
    color: black;
    width: 100px;
    padding: 10px 10px;
    position: relative;
    font-size: 10px;
    font-family: Helvetica;
  
  }
.review-none{
  text-align: center;
  margin: 0 auto;
  padding-left: 50px;
}
.review-card h1{
  margin: 0 auto;
  padding-left: 50px;
  text-align: left;
  text-transform: uppercase;
  font-size: 17px;
  
}
  .review-card{
    padding: 20px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
  }
.review-card p{
    padding-left: 20px;
    text-align: left;
    font-size: 13px;
    font-family: Helvetica;
    text-transform: uppercase;
}
  .review-wrapper {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    row-gap: 1em;
    column-gap: 10px;
    padding: 10px;
    padding-bottom: 40px;
    row-gap: 1em;
    padding: 20px;
    max-width: 100%;
    margin: auto;
  }

  .review-area{
      font-family: Helvetica, sans-serif;
      
  }
  .review-user{
    color: black;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 13px;
    padding: 0px 10px;
  }

  .review-desc{
    color: black;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 13px;
    padding: 15px 10px;
    position: relative;
  }

  .add-review{
    max-width: 100%;
    height: 100px;
  }
  .add-review p {
    color: black;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: 13px;
    padding: 15px 10px;
  }

  
  .add-review textarea {
    max-width: 75%;
    margin: 0 auto;
    width: 600px;
    height: 180px;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
  }

  .review-card button{
    background-color: transparent;
    overflow: hidden;
    box-shadow: none;
    border: 1px solid black; 
    outline: 0;
    margin: auto;
    color: black;
    width: 100px;
    padding: 10px 10px;
    position: relative;
    font-size: 10px;
    font-family: Helvetica;
  
  }
  
 button:hover::before {
    transform: scale(1.1);
    background-color: 0 0 15px lightblue;
    border: 1px solid lightblue; 
  }
  
  button:hover {
    color: lightblue;
    background-color: 0 0 5px lightblue;
    border: 1px solid lightblue; 
  }
